{% extends 'base.html.twig' %}

{% block sidebar %}
    <img src="/categories/{{ category.photo }}" height="50%" width="100%">
    <ul class="nav nav-list">
        {% for subcategory in subcategories %}
            <li><a href="#">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    Products by Subcategory here...
{% endblock %}