{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h2>Welcome to ShopMaster!</h2><br>

        {% if is_granted('ROLE_USER') %}
            <h4>Great to see you, {{ app.user.name }}!</h4>

        {% elseif is_granted('ROLE_ADMIN') %}
            <h4>Great to see you, {{ app.user.name }}! You are logged as admin!</h4>
        {% endif %}

        <h3>About us:</h3>
    </div>
    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum arcu nec suscipit volutpat. Integer ut lorem quam.
        Fusce scelerisque vel enim non semper. Etiam quam sapien, gravida eu sapien in, lobortis luctus felis. Curabitur molestie laoreet ultrices.
        Donec neque elit, mattis sed finibus ac, imperdiet eget sem. Suspendisse vitae libero a lorem rhoncus commodo. Vivamus facilisis tincidunt auctor.
        Mauris vitae porttitor erat. Proin at interdum mauris. Nunc vestibulum sem non eleifend sodales. Nunc feugiat congue purus, a euismod ex fermentum quis.
        Morbi eget neque ante. Donec faucibus vehicula urna, ac volutpat tortor lacinia non.
    </div>
    <div class="col-md-6">
        Nam porta pretium urna, varius gravida elit faucibus sit amet. Quisque eu enim facilisis, lobortis quam et, luctus nibh.
        Sed et elit varius, egestas diam sit amet, scelerisque turpis. Vestibulum laoreet elementum tortor, mollis cursus sapien gravida vel.
        Morbi sed faucibus velit, eu ultricies ligula. Aliquam scelerisque erat nec nulla vehicula gravida at ut velit.
        Donec sit amet ipsum in mi semper hendrerit sagittis id ante. In turpis massa, hendrerit eget commodo id, pulvinar at nibh.
        Praesent bibendum suscipit felis, sit amet accumsan nisi. Sed suscipit, ante ut semper gravida, ipsum massa aliquam mi, vel tincidunt urna eros a odio.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    </div>
    <div class="col-md-6">
        Phasellus non quam interdum, elementum ipsum in, efficitur felis. Phasellus varius ac mi auctor porta. Morbi a ex ut nisl tincidunt consectetur.
        Nulla ornare finibus dolor a ultrices. In nisi ante, lobortis sit amet pretium ut, facilisis lobortis dui.
        Nunc tortor eros, rutrum mattis venenatis ac, lobortis et arcu. Vivamus quis sem nulla.
        Mauris eget massa volutpat, maximus tortor gravida, commodo mauris. Quisque pulvinar lorem ante, sit amet sodales massa facilisis vel.
        Cras sit amet turpis a nunc scelerisque pulvinar et id lorem.
    </div>

{% endblock %}