{% extends 'base.html.twig' %}

{% block body %}
    <h3>Welcome to ShopMaster!</h3><br>

    {% if is_granted('ROLE_USER') %}
        <h4>Great to see you, {{ app.user.name }}!</h4>

    {% elseif is_granted('ROLE_ADMIN') %}
        <h4>Great to see you, {{ app.user.name }}! You are logged as admin!</h4>
    {% endif %}

{% endblock %}