{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('reset_password') }}" method="post">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> Reset Password</legend>

                    <div class="form-group">
                        <div>
                            <label for="old_pass" class="required">Old Password</label>
                            <input type="password" id="old_pass" name="old_pass" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="new_pass" class="required">New Password</label>
                            <input type="password" id="new_pass" name="new_pass" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="repeat_new_pass" class="required">Repeat New Password</label>
                            <input type="password" id="repeat_new_pass" name="repeat_new_pass" required="required" class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Change</button>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
